
# binaries and object files
Petanque/Petanque.Api/obj/
Petanque/Petanque.Storage/obj/
Petanque/Petanque.Services/obj/
Petanque/Petanque.Contracts/obj/
Petanque/Petanque.Api/bin/
Petanque/Petanque.Storage/bin/
Petanque/Petanque.Services/bin/
Petanque/Petanque.Contracts/bin/

# editors
.vs
Petanque/.vs/
Petanque/.idea/

# added manually by Wim
manage-db/sqldumps/
manage-db/mysql.cfg*
!manage-db/mysql.cfg.example*

# also check ./Petanque/petanquefrontend/.gitignore

