################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Petanque/.idea/.idea.Petanque/.idea
/Petanque/Petanque.Api/obj
/Petanque/Petanque.Storage/bin/Debug
/Petanque/Petanque.Storage/obj
/Petanque/Petanque.Api/bin/Debug
